numpy==1.23.4
pandas==1.5.2
SimpleITK==2.2.1
torch
scipy
matplotlib==3.6.2
opencv-python
nibabel==3.2.1
scikit-image==0.19.3
torchvision
pillow==9.2.0
medpy
scikit-learn
tensorboardX
SimpleITK
tensorboard
ml-collections
h5py
wandb
scikit-learn
monai

